/*MAIN*/
body {
    font-family: 'Lato', sans-serif;
    font-size: 12px !important;
    user-select: none;
    background-color: #F4F6F9 !important;
}

[type=search] {
    border-radius: 0 !important;
}

[type=search]:focus {
    outline: none !important;
    border: 1px solid #218545 !important;
}

p {
    font-size: 11px !important;
    font-weight: 200 !important;
}

select {
    border-radius: 0 !important;
}

select:focus {
    outline: none !important;
    border: 1px solid #218545 !important;
}


small {
    font-style: italic;
    font-size: 10px;
    color: #33454C !important;
    font-weight: 100 !important;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

/*LOADING PAGE*/
.loader-page {
    position: fixed;
    z-index: 25000;
    background: rgb(255, 255, 255);
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.loader-page::before {
    content: "";
    position: absolute;
    border: 2px solid #00C564;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176, 0);
    border-top: 2px solid rgba(50, 150, 176, 0);
    animation: rotarload 1s linear infinite;
    transform: rotate(0deg);
}

@keyframes rotarload {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.loader-page::after {
    content: "";
    position: absolute;
    border: 2px solid #00C564;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176, 0);
    border-top: 2px solid rgba(50, 150, 176, 0);
    animation: rotarload 1s ease-out infinite;
    transform: rotate(0deg);
}

/*OTHER*/

.nav .nav-link {
    font-weight: 200 !important;
    color: #fff !important;
}

.nav .nav-link.active {
    background-color: #218545 !important;
}

.navbar-nav .nav-link:hover {
    background-color: transparent !important;
}

.btn {
    font-size: 12px !important;
    font-weight: 400 !important;
    color: #ffffffa7;
    background-color: transparent;
    border-radius: 2px !important;
    border: 0 !important;
}

.img-table img {
    transition: 0.8s;
    border: 1px solid transparent;

}

.img-table img:hover {
    cursor: zoom-in;
    background-color: #fff;
    border: 1px solid #21854681;
    transform: scale(6);
}

.dataTables_length * {
    font-weight: 400 !important;
}

.dataTables_filter * {
    font-weight: 400 !important;
}


.modal-title {
    font-size: 14px !important;
}



.form-control {
    font-size: 12px !important;
    border-radius: 0 !important;
}

.error {
    font-style: italic;
    font-size: 10px;
    color: #e91e62c1 !important;
    font-weight: 100 !important;
}

.form-group label {
    font-weight: 400 !important;
    font-size: 12px;
    color: #BABCC5;
}

.input-group-text {
    font-size: 12px !important;
}

.wrapper-login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-form-label {
    font-size: 10px !important;
    font-weight: 600 !important;
    color: #a4a2a2;
}

.modal-title {
    font-weight: 800 !important;
}

.close {
    opacity: 1 !important;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #2c2c2c !important;
    text-shadow: none !important;
}

.close span {
    border-radius: 0.2rem;
    background-color: #d2d2d2 !important;
    padding: 0px 8px 0px 8px;
}

.close:hover {
    color: #fff;
    text-decoration: none
}


/*LOGIN*/

.main-login {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-radius: 10px;
    position: relative;
    width: 350px;
    z-index: 100;
    border: 3px solid #21854671;
}

.scroll-login {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -25px;
    display: flex;
    justify-content: center;
}

.scroll {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #218545;
    font-size: 1.5rem;
}

.form-group-login {
    align-items: center;
    padding: 15px 0px 15px 0px;
    display: flex;
}

.form-group-login i {
    z-index: 100;
    width: 30px;
    color: #42545b96;
    background-color: #fff;
    font-size: 20px;
    position: absolute
}

.form-control-login {
    font-weight: 200;
    text-align: center;
    text-transform: uppercase !important;
    width: 100%;
    padding: 10px 5px 10px 5px;
    border: none;
    color: #33454C;
    border-bottom: 1px solid #33454C;
    animation: changeBorderColor 1s ease-in-out infinite;

}

.form-control-login:focus {
    font-weight: 400;
    outline: none;
    box-shadow: none;
}

@keyframes changeBorderColor {
    0% {
        border-bottom-color: #33454C;
        /* Color inicial */
    }

    50% {
        border-bottom-color: #909A9F;
        /* Color intermedio */
    }

    100% {
        border-bottom-color: #33454C;
        /* Color final */
    }
}

.form-inputs {
    position: relative;
    z-index: 3000;
    overflow: hidden;
}

.error-login {
    position: absolute;
    width: 100%;
    right: 10px;
    top: 10px;
    display: flex;
    justify-content: end;
}

.error-text {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 1.5rem;
    color: #E91E63;
}

.error-text i {
    animation: spin 3s linear infinite;
    transform-origin: center;

}


/*ERROR*/


@keyframes spin {
    0% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}

/*PRINCIPAL PAGE*/
.position-relative {
    position: relative;
}

.float-delete {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #e51717;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-size: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}